.wordle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0%;
    grid-row-gap: 0%;
}

.wordle-text {
    padding-top: 20%;
    padding-left: 20%;
}

.wordle-title {
    font-size: 105px;
    opacity: 0;
}

.wordle-title.is-visible {
    animation: fade-in 1s ease-in-out forwards;
}

.wordle-p {
    font-size: 25px;
    padding-right: 10%;
    padding-top: 10%;
    opacity: 0;
}

.wordle-p.is-visible {
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 0.3s;
}

.wordle-gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-in  1s ease-in-out forwards;
    overflow: hidden;
}

.wordle-gif {
    width: 100%;
    height: 100%;
}


