.about {
    display: flex;
    flex-direction: column;
    padding: 70px 200px 400px 200px;
    align-items: start;
}

.about-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.about-bottom-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-title {
    font-size: 80px;
}

.about-p {
    font-size: 20px;
    padding-right: 10%;
}

.about-bottom-right {
    font-size: 20px;
    padding-right: 10%;
}

/* Tablet Styles */
@media (max-width: 1025px) {
    .about {
        padding: 10px 50px 30px 50px;
    }

    .about-top-row {
        padding: 0px;
    }

    .about-top-right {
        display: none;
    }

    .about-bottom-right {
        display: none;
    }

    .about-title {
        font-size: 30px;
    }

    .about-p {
        font-size: clamp(17px, 1.2vw, 24px);
        margin-top: 20px;
        padding: 0%;
    }
}

