.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #22242a;
    padding: 50px 200px 50px 200px;
}

.contact-container{
    color: #f8f8f2;
}

.contact-title {
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.contact-p {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0% 10%;
}

.contact-rights {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; /* Ensures the copyright stays at the bottom */
    padding: 10px 0;
    font-size: 15px;
    color: #f8f8f2;
    opacity: 0;
}

.contact-rights-text {
    margin-top: 0;
    font-size: 15px;
    color: #f8f8f2;
}

.contact-button {
    background-color: #e80000;
    color: #f8f8f2;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
    max-width: 250px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}

.contact-button:hover {
    transform: scale(1.05);
    transition: transform 0.1s;
}

.contact-button:active {
    background-color: hsl(0, 100%, 30%);
    transform: scale(0.9);
    transition: transform 0.1s;
}

/* Mobile Styles */
@media (max-width: 1025px) {
    .contact {
        padding: 10%;
        display: block;
    }

    .contact-title {
        font-size: 35px;
    }

    .contact-p{
        font-size: 20px;
        margin: 20px 0px;
        padding: 0% 10%;
    }

    .contact-buttons {
        gap: 10px;
    }

    .contact-button {
        background-color: #22242a;
        border: #e80000 2px solid;
    }

    .contact-button:active {
        background-color: #000000;
        transform: scale(0.9);
        transition: transform 0.1s;
    }

    .contact-rights {
        margin-top: 20px;
        font-size: 10px;
    }
}