.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22242a;
    padding: 10%;
}

.contact-container{
    opacity: 0;
    color: #f8f8f2;
}

.contact-container.is-visible {
    animation: fade-in 1s forwards;
}

.contact-container.is-hidden {
    animation: fade-out 1s forwards;
}

.contact-title{
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.contact-p {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0% 10%;
}

.contact-rights {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
} 

/* Mobile Styles */
@media (max-width: 1000px) {
    .contact {
        
        display: block;
    }

    .contact-title {
        font-size: 35px;
    }

    .contact-p{
        font-size: 20px;
        margin: 20px 0px;
        padding: 0% 10%;
    }

    .contact-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        padding: 0%;
    }

    .contact-rights {
        margin-top: 20px;
        font-size: 10px;
    }


}