.home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.home-p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}

.home-p-and-buttons{ 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 500px;
  max-width: 750px;
}

.home-image-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.home-image {
  width: 30%;
  /* height: 100%; */
  object-fit: contain;
  border-radius: 5px;
}

.home-buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 20px;
}

.home-cv-button {
  background-color: #5CDB95;
  border: 2px solid #5CDB95; 
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.home-contact-button {
  background-color: #F3F3F3;
  border: 2px solid #BFBFBF;  
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.home-cv-button:hover, .home-cv-button:active, 
.home-contact-button:hover, .home-contact-button:active{
  background-color: #96e8bb;
  border: 2px solid #96e8bb; 
}

@media (max-width:1025px) {
  .home {
    display: flex;
    padding: 100px 100px 30px 100px;
  }

  .home-name {
    font-size: 40px;
  }

  .home-job {
    font-size: 25px;
  }

  .home-p {
    font-size: 20px;
  }

  .home-name-and-job{
    margin-right: 0;
  }

  .home-button {
    font-size: 15px;
    background-color: #e80000;
    border: none;
  }
}

/* Tablet Styles */
@media (max-width: 650px) {
  .home-image-container {
    display: none;
    flex: 0;
  }

  .home-name-and-buttons {
    flex: none;
  }

  .home {
    display: flex;
    padding: 100px 50px 30px 50px;
    justify-content: center;
  }
}
