.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px 60px 100px 60px;
}

.home-p {
  font-weight: 400;
  margin-bottom: 30px;
  max-width: 800px;
}

.home-p-and-buttons{ 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.home-image-container { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  width: 30%;
  object-fit: contain;
  border-radius: 5px;
}

.home-buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 20px;
}

.home-cv-button.light-mode {
  background-color: #5CDB95;
  border: 2px solid #5CDB95; 
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.home-cv-button.dark-mode {
  background-color: #5CDB95;
  border: 2px solid #5CDB95;
  color: #22242a;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.home-contact-button.light-mode {
  background-color: #F3F3F3;
  border: 2px solid #BFBFBF;  
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.home-contact-button.dark-mode {
  background-color: #16171f;
  border: 2px solid #5CDB95;
  color: #5CDB95;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.home-cv-button:hover, .home-cv-button:active, 
.home-contact-button:hover, .home-contact-button:active{
  background-color: #96e8bb;
  border: 2px solid #96e8bb; 
  color: #22242a;
}

@media (max-width:1025px) {
  .home {
    margin: 20px;
  }
  .home-p-and-buttons{ 
    width: 75%;
  }
}

@media (max-width: 650px) {
  .home-p-and-buttons{ 
    width: 100%;
  }
}
