.home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.home-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}

.home-p-and-buttons{ 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
}

.home-image-container { 
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.home-image {
  width: 50%;
  object-fit: contain;
}

.home-buttons {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;

}

.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  color: #22242a;
  border: 2px solid #e80000;  
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
}

.home-button:hover {
  border: none;
  transform: scale(1.05);
  background-color: #e80000;

}

.home-button:active {
  background-color: hsl(0, 100%, 30%);
}

@media (max-width:1025px) {
  .home {
    display: flex;
    padding: 100px 100px 30px 100px;
  }

  .home-name {
    font-size: 40px;
  }

  .home-job {
    font-size: 25px;
  }

  .home-p {
    font-size: 20px;
  }

  .home-name-and-job{
    margin-right: 0;
  }

  .home-button {
    font-size: 15px;
    background-color: #e80000;
    border: none;
  }
}

/* Tablet Styles */
@media (max-width: 650px) {
  .home-image-container {
    display: none;
    flex: 0;
  }

  .home-name-and-buttons {
    flex: none;
  }

  .home {
    display: flex;
    padding: 100px 50px 30px 50px;
    justify-content: center;
  }
}
