.skills {
  background-color: #22242a;
  color: #F3F3F3;
  padding: 170px 10% 20px 200px;
}

.skills > div > div {
  opacity: 0;
}

.skills-title {
  font-size: 80px;
  opacity: 0;
  margin-bottom: 20px;
}

.skills-container {
  display: block;
}

/* .skills-container > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
} */


.skills-container > div {
  display: flex;
  flex-direction: row; /* Default: Alternating text | icons */
  gap: 100px; /* Space between text and icons */
  margin-bottom: 100px;
}

.skills-container > div:nth-child(odd) {
  flex-direction: row; /* Text | Icons */
}

.skills-container > div:nth-child(even) {
  flex-direction: row-reverse; /* Icons | Text */
}

.icons-4 {
  width: 50%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.icons-3 {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.icon {
  width: 117px;
  height: 117px;
}

.big {
  width: 200px;
  height: 200px;
}

.skill-title {
  font-size: 55px;
}

.skill-p {
  font-size: 25px;
  margin-top: 20px;
}

.icons-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-left{
  width: 50%;
}
.text-right{
  width: 50%;
}



.is-visible {
  animation: fade-in 1s forwards, slide-up 1s forwards;
}

.is-hidden {
  animation: fade-out 1s forwards;
}

/* Mobile Styles */
@media (max-width: 1000px) {
  
  .skills {
    padding: 110px 50px 30px 50px;
    display: block;
  }

  .skills-container > div {
    flex-direction: column; /* Stack text and icons vertically */
    text-align: center; /* Center-align text for better appearance */
  }

  .skills-container > div:nth-child(even),
  .skills-container > div:nth-child(odd) {
    flex-direction: column; /* Both follow the same vertical layout */
  }

  .skills-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .skill-title {
    font-size: 25px;
  }

  .skill-p {
    font-size: 20px;
    margin-top: 20px;
  }

  .text-left, .text-right {
    text-align: left; /* Center the text */
    width: 100%; /* Full width for better centering */
    padding: 0; /* Remove unnecessary padding */
  }

  .icons-4, .icons-3 {
    width: 100%; /* Full width for better centering */
    place-items: center; /* Center the icons */
    gap: 20px; /* Space between icons */
  }

  .icon {
    width: 50px;
    height: 50px;
  }
  
  .big {
    width: 100px;
    height: 100px;
  }
}