.skill {
    background-color: #22242a;
    color: #F3F3F3;
    padding: 170px 200px 100px 200px;
}

.skill-container {
    display: flex;
    gap: 100px;
    opacity: 0; 
}

.left-to-right {
    flex-direction: row; /* Text | Icons */
}

.right-to-left{
    flex-direction: row-reverse; /* Icons | Text */
}

.icons-4 {
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.icons-3 {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.icon {
    width: 117px;
    height: 117px;
}

.big-icon {
    width: 200px;
    height: 200px;
}

.skill-title {
    font-size: 5vw;
}

.skill-p {
    font-size: 1.5vw;
    margin-top: 20px;
}

.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
  
.skill-container.is-visible {
    animation: fade-in 1s forwards, slide-up 1s forwards;
}

.skill-container.is-hidden {
    animation: fade-out 1s forwards;
} 
  
/* Mobile Styles */
@media (max-width: 1000px) {
  .skill {
    padding: 110px 50px 30px 50px;
  }

  .skill-container {
    display: block;
  }

  .skill-title {
    font-size: 30px;
  }

  .skill-p {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .text {
    text-align: left;
    width: 100%;
    padding: 0;
  }

  .icons-4, .icons-3 {
    width: 100%;
    place-items: center;
    gap: 20px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }
  
  .big-icon {
    width: 100px;
    height: 100px;
  }

  .skill-container.is-visible {
      animation: fade-in 0.3s forwards;
  }
  
  .skill-container.is-hidden {
      animation: fade-out 0.3s forwards;
  } 
}