.skill {
    background-color: #22242a;
    color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.icons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.icon {
    height: 50px;
}

.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-title {
    margin-bottom: 20px;
}
  
/* Mobile Styles */
@media (max-width: 1025px) {

  .icon {
    height: 35px;
  }

  .skill-title {
    text-align: center;
  }
}