.skill {
    padding: 60px 200px 60px 200px;
    background-color: #22242a;
    color: #F3F3F3;
}

#prog-lang {
  padding-top: 100px;
}

#ml {
  padding-bottom: 128px;
}

.skill-container {
    display: flex;
    gap: 100px;
}

.left-to-right {
    flex-direction: row; /* Text | Icons */
}

.right-to-left{
    flex-direction: row-reverse; /* Icons | Text */
}

.icons-4 {
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.icons-3 {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.icon {
    width: 117px;
    height: 117px;
}

.big-icon {
    width: 200px;
    height: 200px;
}

.skill-title {
    font-size: 5vw;
}

.skill-p {
    font-size: 1.2vw;
    margin-top: 55px;
    line-height: 27.5px;
}

.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
  
/* Mobile Styles */
@media (max-width: 1025px) {
  .skill {
    padding: 50px 50px 20px 50px;
  }

  #prog-lang {
    padding-top: 70px;
  }

  .skill-container {
    display: block;
  }

  .skill-title {
    font-size: 25px;
  }

  .skill-p {
    font-size: clamp(17px, 1.2vw, 24px);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .text {
    text-align: left;
    width: 100%;
    padding: 0;
  }

  .icons-4, .icons-3 {
    width: 100%;
    place-items: center;
    gap: 20px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }
  
  .big-icon {
    width: 100px;
    height: 100px;
  }

}