.skills {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 80px 100px 80px;

    row-gap: 100px;
    
}


.skills > div {
    width: 50%;
}

@media (max-width: 1025px) {
    .skills {
        display: flex;
        margin: 50px 0px 50px 0px;

        row-gap: 85px;
    }

    .skills > div {
        width: 100%;
    }
}
  
@media (max-width: 650px) {
  
}