.header {
    position: fixed;
    top: 50px;
    left: 40px;
    right: 40px;
    z-index: 1000;
    background-color: #22242A;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 6px 16px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, opacity 0.2s ease;
  }
  
.header-name-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-name {
  margin-left: 50px;
  font-size: 30;
  transition: transform 0.3s ease, color 0.3s ease;
}

.header-name:hover {
  color: #e80000;
  transform: translateY(-5px);
}

.header-navbar {
  display: flex;
  justify-content: right;
  align-items: center;
}

.scrolled-to-top {
    opacity: 1;
    transform: translateY(0);
}

.scrolled-down {
    opacity: 0.8;
    transform: translateY(-20px);
}
