/* Style the main navigation */
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation ul li {
  position: relative;
}

.navigation ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navigation ul li a:hover {
  color: #e80000;
  transform: translateY(-5px);
}

/* Style the submenu navigation */
.has-submenu ul {
  visibility: hidden;
  display: block;
  position: absolute;
  background-color: #22242A;
  top: 140%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 6px 16px 2px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease,visibility 0s linear 0.3s;
  width: 280px;
}
 
.submenu li a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.has-submenu:hover ul {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s linear 0s; 
}

/* TODO: fix dead zone between the header and submenu */
