@font-face {
  font-family: 'alkia';
  src: url('../../assets/fonts/Alkia.ttf') format('opentype');
}

.header {
  position: fixed;
  top: 50px;
  left: 40px;
  right: 40px;
  z-index: 1000;
  background-color: #22242a; /* dark background */
  color: #F3F3F3; /* light text color */
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 6px 16px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  opacity: 0;
  transform: translateY(-100%);
}

.header.light-header {
  background-color: rgb(249, 249, 249); /* light background */
  color: #22242a; /* dark text color */
}

.header.is-visible {
  animation: slideIn 0.5s ease-in-out forwards; /* Trigger animation when class is added */
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%); /* Start offscreen above */
  }
  100% {
    opacity: 1;
    transform: translateY(0%); /* Move to its position */
  }
}

.header-name-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 2px;
}

.header-name {
  font-family: 'alkia', sans-serif;
  padding-left: 30px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.header-name:hover {
  color: #e80000;
  transform: translateY(-5px);
}

.menu-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.scrolled-to-top {
    opacity: 1;
    transform: translateY(0);
}

.scrolled-down {
    opacity: 0.8;
    transform: translateY(-20px);
}

/* Style the main navigation */
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation ul li {
  position: relative;
}

.navigation ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navigation.light-header ul li a{
  color: #22242a; /* dark text color */
}

.navigation ul li a:hover {
  color: #e80000;
  transform: translateY(-5px);
}

/* Style the submenu navigation */
.has-submenu ul {
  visibility: hidden;
  display: block;
  position: absolute;
  background-color: #22242a;
  top: 140%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 6px 16px 2px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  width: 280px;
}

.submenu::before {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  height: 25%;
  width: 40%;
  background: transparent;
  z-index: 1000; /* Ensure it stays above */
  place-items: center;
}

.submenu li a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.navigation.light-header .has-submenu ul {
  background-color: rgb(249, 249, 249); /* light background */
  color: #22242a; /* dark text color */
}

.navigation.light-header .has-submenu ul li a {
  color: #22242a; /* dark text color */
}

.navigation.light-header .has-submenu ul li a:hover {
  color: #e80000;
}

.has-submenu:hover ul {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s linear 0s; 
}

.burger-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

/* TODO: fix dead zone between the header and submenu */

@media (max-width: 1025px) {
  .menu-container {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #22242a;
    border-radius: 20px;
    z-index: 1000;
    padding: 20px;
  }

  .open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s linear 0s;
  }

  .close {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s linear 0s;
  }

  .menu-container.light-header {
    background-color: rgb(249, 249, 249); /* light background */
    color: #22242a;
  }

  /* Burger Menu Styling */
  .burger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    z-index: 1100;
  }

  .burger-menu img {
    width: 16px;
    height: 16px;
  }

  .burger-menu span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 4px 0;
    background-color: white;
    border-radius: 1px;
  }

  /* Header Styling */
  .header {
    grid-template-columns: auto 1fr;
    padding: 20px;
    top: 40px;
    left: 20px;
    right: 20px;
  }

  .header.light-header {
    background-color: rgb(249, 249, 249); /* light background */
    color: #22242a; /* dark text color */
  }

  .header-name-container {
    justify-content: flex-start;
  }

  .header-name {
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
  }

  /* Navigation Menu */
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .navigation ul li {
    margin: 10px 0;
  }

  .navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
  }

  .navigation ul li a:hover {
    color: none;
    transform: none;
  }

  .submenu.close {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  }

  .submenu.open { 
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s linear 0s;
  }
  
  .submenu li {
    margin: 5px 0;
  }
}

