@font-face {
  font-family: 'alkia';
  src: url('../../assets/fonts/Alkia.ttf') format('opentype');
}

header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  color: #22242a; /* light text color */
  margin: 40px 60px;
  /* border: #e80000 2px solid; */
}

.header-name-container {
  justify-self: start;
  font-family: 'silkscreen', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30.72px;
}

.header-job-container {
  justify-self: center;
  color: #5a6072;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
}

.header-navigation-container {
  justify-self: end;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.6px;
}

.header-name:active {
  transform: translateY(0px);
  transition: transform 0.1s ease;
}

.first-submenu-container {
  display: flex;
  align-items: center;
}

/* Style the main navigation */
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navigation ul li {
  position: relative;
}

.navigation ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.navigation ul li a:hover {
  color: #6f6f6f;
}

.navigation ul li a:active {

}



.has-submenu:hover ul {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s linear 0s; 
}

.burger-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

@media (max-width: 1025px) {
  
}

