header {
  position: sticky;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 40px 60px;
  z-index: 1000;
  /* border: #e80000 2px solid; */
  backdrop-filter: blur(40px);
}


.header-name-container {
  justify-self: start;
  font-family: 'silkscreen', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30.72px;
}

.header-job-container {
  justify-self: center;
  color: #5a6072;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
}

.header-navigation-container {
  justify-self: end;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.6px;
}

/* Style the main navigation */
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navigation ul li {
  position: relative;
}

.navigation ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.navigation ul li a:hover {
  color: #6f6f6f;
}

.navigation ul li a:active {
  color: #6f6f6f;
}

@media (max-width: 1025px) {
  
}

