*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.main-content {
  display: grid;
  grid-template-rows: repeat(8, 100vh);
}

.section {
  justify-self: center;
  width: 100%;
  border: 2px solid #e80000;
}