@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #edf6fe;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  margin: 0;
  padding: 0;
}

.main-content {
  display: grid;
  grid-template-rows: repeat(8, 100vh);
}

.red-text {
  color: #e80000;
}

.bold-text {
  font-weight: bold;
}

/* Section {
  justify-self: center;
  width: 100%;
  border: 2px solid #e80000;
  opacity: 0;
} */

/* .section.is-visible {
  animation: fadeIn 1s forwards;
} */

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fade-out {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@keyframes slide-in {
  0% {
      transform: translateX(-100%);
      /* clip-path: inset(0 100% 0 0);  */
  }
  100% {
      transform: translateX(0);
      /* clip-path: inset(0 0 0 0); */
  }
}

@keyframes slide-out {
  0% {
      transform: translateX(0);
      /* clip-path: inset(0 0 0 0); */
  }
  100% {
      transform: translateX(-100%);
      /* clip-path: inset(0 100% 0 0); */
  }
}

@keyframes typing {
  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}
