@font-face{
  font-family: 'sofia-pro';
  src: url('./assets/fonts/Sofia Pro Light Az.otf') format('opentype');
}

section {
  border: #e80000 2px solid;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'sofia-pro', sans-serif;
  color: #37383C;
  background-color: #F3F3F3;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  margin: 0;
  padding: 0;
}

.main-content {
  display: grid;
  grid-template-rows: repeat(2, 100vh) 1fr repeat(5, 100vh);
}

/* Tablet Styles */
@media (max-width: 768px) {
}

/* Mobile Styles */
@media (max-width: 600px) {
  .main-content {
    grid-template-rows: repeat(8, 500px);
  }
}

.red-text {
  color: #e80000;
}

.bold-text {
  font-weight: bold;
}

/* Section {
  justify-self: center;
  width: 100%;
  border: 2px solid #e80000;
  opacity: 0;
} */

/* .section.is-visible {
  animation: fadeIn 1s forwards;
} */

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fade-out {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@keyframes slide-in {
  0% {
      transform: translateX(-100%);
      /* clip-path: inset(0 100% 0 0);  */
  }
  100% {
      transform: translateX(0);
      /* clip-path: inset(0 0 0 0); */
  }
}

@keyframes slide-out {
  0% {
      transform: translateX(0);
      /* clip-path: inset(0 0 0 0); */
  }
  100% {
      transform: translateX(-100%);
      /* clip-path: inset(0 100% 0 0); */
  }
}

@keyframes slide-up {
  0% {
      transform: translateY(10%);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(10%);
  }
}

@keyframes typing {
  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}
