.project {
    padding: 50px 200px 70px 200px;
    color: #22242a;
}

.project-container {
    display: flex;
}

.project-tags-and-link-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.git-project-link-img {
    width: 50px;
}

.left-to-right {
    flex-direction: row; /* Text | Icons */
}

.right-to-left{
    flex-direction: row-reverse; /* Icons | Text */
}

.project-text {
    /* REMOVE: For debugging purposes */
    /* border: red 4px solid; */
    width: 50%;
    /* opacity: 0; */
    z-index: 1;
}

.right-to-left > .project-text {
    padding-right: 50px;
}

.left-to-right > .project-text {
    padding-left: 50px;
}

.project-text.animate {
    will-change: opacity, transform;
    transition: opacity 0.5s ease-in-out 0.5s, transform 0.5s ease-in-out 0.5s;
}

.project-title {
    display: block;
}

.blinking-cursor:after {
    content: '|';
    color: #000;
    animation: blink 1s step-start infinite;
}

.project-tags {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 450px;
    width: 100%;
}

/* TODO: fix the problem with the font size in smaller screens */

.project-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e80000;
    border: 2px solid #e80000;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    white-space: nowrap;
}

.project-span {
    padding-bottom: 10px ;
}

.project-media-container-left-to-right, .project-media-container-right-to-left {
    /* REMOVE: For debugging purposes */
    /* border: red 4px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    opacity: 1;
    z-index: 2;
}

.project-media-container-left-to-right {
    will-change: transform, opacity;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    transform: translateX(-100%);
}

.project-media-container-left-to-right.is-visible {
    transform: translateX(0);
}

.project-media-container-left-to-right.is-hidden {
    transform: translateX(-100%);
    pointer-events: none; /* Prevents interactions when hidden */
}

.project-media-container-right-to-left {
    will-change: transform, opacity;
    transition: transform 1s ease-in-out;
    transform: translateX(100%);
}

.project-media-container-right-to-left.is-visible {
    transform: translateX(0);
}

.project-media-container-right-to-left.is-hidden {
    transform: translateX(100%);
    pointer-events: none;
}


.project-media {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 500px;
    border-radius: 8px;

    /* keep original aspect ratio */
    object-fit: contain;
}

.git-project-link-img {
    width: 50px;
    cursor: pointer;
}

.git-project-link-img:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
}

.git-project-link-img:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}

.project-bullet {
    padding-bottom: 10px;
}

/* Tablet Styles */
@media (max-width: 1025px) {
    .project {
        padding: 20px 50px 20px 50px;
    }

    #HTTPServer {
        padding-bottom: 100px;
    }

    .project-container {
        display: flex;
        flex-direction: column; /* Stack text and media vertically */
        align-items: center;
    }

    .project-text {
        /* REMOVE: For debugging purposes */
        /* border: red 4px solid; */
        /* overflow: hidden; */
        width: 100%;
        z-index: 1;
        opacity: 1;
    }

    .project-tags-and-link-container {
        gap: 10px;
    }

    .project-tags {
        gap: 5px;
    }

    .project-tag {
        /* font-size: 13px; */
    }

    .right-to-left > .project-text, .left-to-right > .project-text {
        text-align: left;
        width: 100%;
        padding: 20px 0 0 0;
    }

    .project-title {
        display: inline;
        font-size: 25px;
    }

    .project-media-container-left-to-right,
    .project-media-container-right-to-left {
        /* REMOVE: For debugging purposes */
        /* border: red 4px solid; */
        width: 100%;
        transform: translateX(0);
    }

    .project-media-container-left-to-right.is-hidden,
    .project-media-container-right-to-left.is-hidden {
        transform: translateX(0);
    }

    .git-project-link-img {
        width: 30px;
        cursor: pointer;
    }
}
