.project {
    padding: 12% 200px 5% 200px;
    color: #22242a;
}

.project-container {
    display: flex;
}

.left-to-right {
    flex-direction: row; /* Text | Icons */
}

.right-to-left{
    flex-direction: row-reverse; /* Icons | Text */
}

.project-text {
    /* REMOVE: For debugging purposes */
    /* border: red 4px solid; */
    width: 50%;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
    padding: 3%;
}

.project-text.is-visible {
    animation: fade-in 1s ease-in-out forwards, slide-up 1s ease-in-out forwards;
    animation-delay: 0.3s;
}

.project-text.is-hidden {
    animation: fade-out 1s ease-in-out forwards;
}

.project-title {
    font-size: 5vw;
}

.blinking-cursor:after {
    content: '|';
    color: #000;
    animation: blink 1s step-start infinite;
}

.project-tags {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 450px;
}

.project-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e80000;
    border: 2px solid #e80000;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
}

.project-p {
    font-size: 1.2vw;
    padding: 0 1.5rem 1.5rem 0;
}

.project-media-container-left-to-right, .project-media-container-right-to-left {
    /* REMOVE: For debugging purposes */
    /* border: red 4px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    opacity: 1;
    z-index: 2;
}

.project-media-container-left-to-right.is-visible{
    animation: slide-in-left-to-right  1s ease-in-out forwards;
}

.project-media-container-left-to-right.is-hidden{
    animation: slide-out-left-to-right  1s ease-in-out forwards;
}

.project-media-container-right-to-left.is-visible{
    animation: slide-in-right-to-left  1s ease-in-out forwards;
}

.project-media-container-right-to-left.is-hidden{
    animation: slide-out-right-to-left  1s ease-in-out forwards;
}

.project-media {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px; 
}

.git-project-link > img {
    width: 200px;
    height: 50px;

}

.git-project-link > img:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
}

.git-project-link > img:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}

/* Tablet Styles */
@media (max-width: 1025px) {
    .project {
        padding: 110px 50px 30px 50px;
    }

    .project-container {
        display: flex;
        flex-direction: column; /* Stack text and media vertically */
        align-items: center;
    }

    .project-text {
        /* REMOVE: For debugging purposes */
        /* border: red 4px solid; */
        /* overflow: hidden; */
        width: 100%;
        opacity: 0;
        z-index: 1;
    }

    .project-text.is-visible {
        animation: fade-in 0.5s ease-in-out forwards;
        animation-delay: none;
    }

    .project-media-container-left-to-right,
    .project-media-container-right-to-left {
        /* REMOVE: For debugging purposes */
        /* border: red 4px solid; */
        width: 50%;
    }

    .project-media-container-left-to-right.is-visible,
    .project-media-container-right-to-left.is-visible {
        /* REMOVE: For debugging purposes */
        /* border: red 4px solid; */
        animation: none;
    }

    .project-media-container-left-to-right.is-hidden,
    .project-media-container-right-to-left.is-hidden {
        /* REMOVE: For debugging purposes */
        /* border: red 4px solid; */
        animation: none;
    }

    .project-title {
        font-size: 30px;
    }
    
    .blinking-cursor:after {
        content: '|';
        color: #000;
        animation: blink 1s step-start infinite;
    }
    
    .project-p {
        font-size: 20px;
        margin-top: 20px;
        padding: 0%;
    }
}
