.project-container {
    display: flex;
    margin: 20px 0;
}

.left-to-right {
    flex-direction: row;
}

.right-to-left{
    flex-direction: row-reverse;
}

.project-text {
    /* REMOVE: For debugging purposes */
    /* border: red 4px solid; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-to-right > .project-text{
    padding-left: 60px;
}

.right-to-left > .project-text{
    padding-right: 60px;
}

.blinking-cursor:after {
    content: '_';
    animation: blink 1s step-start infinite;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0px;
}

/* TODO: fix the problem with the font size in smaller screens */
.project-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
}

.project-tag.light-mode {
    color: #22242a;
    border: 2px solid #bfbfbf;
}

.project-tag.dark-mode {
    color: #5CDB95;
    border: 2px solid #5CDB95;
}

.project-span {
    margin-bottom: 10px ;
}

.project-media-container-left-to-right, .project-media-container-right-to-left {
    /* REMOVE: For debugging purposes */
    /* border: red 4px solid; */
    display: flex;
    align-items: center;
    width: 50%;
    opacity: 1;
    background-color: #e4e4e667;
    border-radius: 20px;
}

.project-media-container-left-to-right, .project-media-container-right-to-left {
    justify-content: center;
}

.project-media {
    height: 90%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 8px;
    aspect-ratio: 1/1;
    /* keep original aspect ratio */
    object-fit: contain;
}

.project-bullet {
    margin-bottom: 10px;
}

.github-link-button {
    background-color: #5CDB95;
    color: #22242a;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}


.github-link-button:hover, .github-link-button:active{
    background-color: hsl(147, 64%, 75%);
  }


.green-text{
    color: hsl(147, 64%, 45%);
}
  

/* Tablet Styles */
@media (max-width: 1025px) {

    .project {
        margin-bottom: 20px;
    }

    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-tags {
        gap: 5px;
    }

    .right-to-left > .project-text, .left-to-right > .project-text {
        text-align: left;
        width: 100%;
        padding: 20px 0 0 0;
    }

    .project-title {
        display: inline;
    }

    .project-media-container-left-to-right,
    .project-media-container-right-to-left {
        /* REMOVE: For debugging purposes */
        /* border: red 4px solid; */
        width: 100%;
        transform: translateX(0);
    }

    .project-media {
        width: 200px;
    }
}
